---
import { type CollectionEntry, getCollection } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import TableOfContents from "@components/TableOfContents.astro";


export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();

const hasH2Headings = headings.some(h => h.depth === 2);
---

<ContentLayout title={post.data.title} description={post.data.description}>
  <div class="relative">
    {hasH2Headings &&
      <aside class="hidden lg:block fixed top-22 right-20 w-72 z-10">
        <TableOfContents headings={headings} />
      </aside>
    }
    <div class="space-y-10">
      <div class="space-y-1">
        <h1 class="animate font-semibold text-black dark:text-white text-3xl">
          {post.data.title}
        </h1>
        <div class="animate flex items-center gap-1.5">
          <div class="font-base text-sm">
            <FormattedDate date={post.data.date} />
          </div>
        </div>
      </div>
      <article class="animate">
        <Content />
      </article>
    </div>
  </div>
</ContentLayout> 