---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE, THEME } from "@consts";

type Props = {
  title: string;
  description: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body class={`${THEME.background.default.light} dark:${THEME.background.default.dark}`}>
    <Header pageType="default" />
    <main class={className}>
      <slot />
    </main>
    <Footer backgroundType="default" />
  </body>
</html> 